*,body{
  margin: 0;
  padding: 0;
}

.location{
  position: relative;
  border-top: 1px solid #ccc;
}

.location_properties{
  width: max-content;
  margin: 0 auto;
}

.gap-10{
  gap: 10px;
}

.container-fluid .drop-targets {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hide {
  display: none;
}

.box_container {
  width: 32%;
  margin-bottom: 20px;
}

.box_container.temp {
  width: 250px;
  margin-bottom: 20px;
  position: absolute;
  top: 255px;
  left: 0px;
  overflow: auto;
  bottom: 0;
}

.box {
  border: 2px solid #ccc;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  padding: 20px 8px;
  background-color: #eee;
}

.box.drag-over {
  border: 2px dotted red;
}
.box_name {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.item {
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px 5px;
  width: 100%;
}
.item .name {
  font-size: 20px;
  text-align: center;
}
.item .properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px;
}

.item .properties .property {
  min-width: 50%;
  margin-bottom: 5px;
}

.bg-danger {
  background-color: #f14668 !important;
}

.bg-primary {
  background-color: #00d1b2 !important;
}

.bg-warning {
  background-color: #ffe08a !important;
}
.history {
  min-width: 260px;
  width: 260px;
  overflow: auto;
  background: rgb(234, 238, 238);
  padding-top: 16px;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}
.history-block{
  padding: 10px;
  font-size: 14px;  
  border-bottom: 1px solid #ccc;
}

.history-block:first-child{
  border-top: 1px solid #ccc;
}

.history-block .time{
  font-size: 12px;
  margin-top: 5px;
  color: #666;
}
