*,body{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.location{
  position: relative;
  border-top: 1px solid #ccc;
}

.location_properties{
  width: max-content;
  margin: 0 auto;
}

.gap-10{
  gap: 10px;
}

.container-fluid .drop-targets {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  gap: 40px;
}

.hide {
  display: none;
}

.box_container {
  width: 100%;
  margin-bottom: 10px;
}

.box_container.temp {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
  overflow: auto;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 8px;
  background-color: #E0EAF5;
}

.temp .box{
  min-height: 100%;
}

.box.drag-over {
  border: 2px dotted red;
}
.box_name {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.item {
  background-color: #ccc;
  padding: 10px 5px;
  width: 100%;
}
.item .name {
  font-size: 14px;
  font-weight: bold;
}
.item .properties {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}


.bg-danger {
  background-color: #E57D1D !important;
}

.bg-primary {
  background-color: #2C478B !important;
}

.bg-warning {
  background-color: #2A6E5A !important;
}
.history {
  min-width: 260px;
  width: 260px;
  overflow: auto;
  background: rgb(234, 238, 238);
  padding-top: 16px;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}
.history-block{
  padding: 10px;
  font-size: 14px;  
  border-bottom: 1px solid #ccc;
}

.history-block:first-child{
  border-top: 1px solid #ccc;
}

.history-block .time{
  font-size: 12px;
  margin-top: 5px;
  color: #666;
}

.opacity-50{
  opacity: 0.5;
}

.link-color{
  color: #3071B8;
}

.border-link{
  border-bottom: 1px solid #3071B8;
}
.pointer{
  cursor: pointer;
}
